[workspace]
resolver = "2"

members = [
    "binex", 
    "crx2rnx", 
    "rinex", 
    "rinex-cli", 
    "rnx2crx", 
    "sp3",
    "sinex",
    "ublox-rnx", 
]

exclude = [
    "./test_resources",
]

[profile.release]
strip = true
opt-level = 3
lto = "thin"
codegen-units = 1
