[workspace]
resolver = "2"

members = [
    "crx2rnx", 
    "qc-traits", 
    "rinex", 
    "rinex-qc", 
    "rinex-cli", 
    "rnx2crx", 
    "sp3",
    "ublox-rnx", 
]

exclude = ["./test_resources"]
