[package]
name = "sp3"
version = "1.0.6"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "IGS SP3 file parser"
homepage = "https://github.com/georust/sp3"
repository = "https://github.com/georust/sp3"
documentation = "https://docs.rs/sp3/"
keywords = ["gnss", "timing", "igs"]
categories = ["science", "science::geo", "parsing"]
edition = "2021"
readme = "README.md"

[features]
default = [] # no features by default

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docrs", "--generate-link-to-definition"]

[build-dependencies]

[dependencies]
thiserror = "1"
map_3d = "0.1.5"
hifitime = "3.8.4"
gnss-rs = { version = "2.1.1", features = ["serde"] }
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }
flate2 = { version = "1.0.24", optional = true, default-features = false, features = ["zlib"] }

[dev-dependencies]
