[package]
name = "rinex-qc"
version = "0.1.14"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "RINEX and more broadly, GNSS data processing"
homepage = "https://github.com/georust/rinex"
repository = "https://github.com/georust/rinex"
keywords = ["rinex", "timing", "gnss", "gps", "glonass", "galileo"]
categories = ["science", "science::geo", "parsing"]
edition = "2021"
rust-version = "1.64"

[features]
default = [] # no features by default

# Unlock support of high precision SP3 files.
# When targetting highest precision analysis and solutions, like in PPP,
# SP3 files are mandatory. When deactivated, we simply cannot load
# Such files into the context and analyze them.
sp3 = ["dep:sp3"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docrs", "--generate-link-to-definition"]

[dependencies]
thiserror = "1"
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }
hifitime = { git = "https://github.com/nyx-space/hifitime.git", branch = "master" }
strum = "0.26"
strum_macros = "0.26"
horrorshow = "0.8"
itertools = "0.13.0"
statrs = "0.16"
rinex-qc-traits = { path = "../qc-traits", version = "=0.1.1" }
rinex = { path = "../rinex", version = "=0.16.1", features = ["full"] }
sp3 = { path = "../sp3", version = "=1.0.8", features = ["serde"], optional = true }

# gnss-rs = { version = "2.1.3", features = ["serde"] }
gnss-rs = { git = "https://github.com/rtk-rs/gnss", branch = "main", features = ["serde"] }

[dev-dependencies]
serde_json = "1"
