[package]
name = "rinex-qc"
version = "0.1.9"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "RINEX data analysis"
homepage = "https://github.com/georust/rinex"
repository = "https://github.com/georust/rinex"
keywords = ["rinex", "timing", "gps", "glonass", "galileo"]
categories = ["science", "science::geo", "parsing"]
edition = "2021"
rust-version = "1.64"

[features]
default = [] # no features by default

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docrs", "--generate-link-to-definition"]

[dependencies]
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }
hifitime = "3.8.4"
strum = "0.25"
strum_macros = "0.25"
horrorshow = "0.8"
itertools = "0.12.0"
statrs = "0.16"
sp3 = { path = "../sp3", version = "=1.0.6", features = ["serde"] }
rinex-qc-traits = { path = "../qc-traits", version = "=0.1.1" }
rinex = { path = "../rinex", version = "=0.15.4", features = ["full"] }
gnss-rs = { version = "2.1.2", features = ["serde"] }

[dev-dependencies]
serde_json = "1"
