[package]
name = "rinex-cli"
version = "0.9.0"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "Command line tool parse and analyze RINEX data"
homepage = "https://github.com/georust/rinex"
repository = "https://github.com/georust/rinex"
keywords = ["rinex", "gps", "glonass", "galileo", "timing"]
categories = ["science", "science::geo", "command-line-interface", "command-line-utilities"]
edition = "2021"
readme = "README.md"
rust-version = "1.64"

[dependencies]
log = "0.4"
pretty_env_logger = "0.5"
clap = { version = "4", features = ["derive", "color"] }
rand = "0.8"
serde_json = "1"
sp3 = { path = "../../sp3", features = ["serde", "flate2"] }
rinex-qc = { path = "../rinex-qc", features = ["serde"] }
rinex = { path = "../rinex", features = ["serde", "flate2", "sbas", "obs", "nav", "qc", "processing"] }
thiserror = "1"
itertools = "0.11"
plotly =  "0.8.4"
map_3d = "0.1.5"
ndarray = "0.15"
colorous = "1.0"
horrorshow = "0.8"
nyx-space = "2.0.0-alpha.2" 
