[package]
name = "rinex-cli"
version = "0.5.0"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "Command line tool parse and analyze RINEX data"
homepage = "https://github.com/gwbres/rinex"
keywords = ["rinex", "gps", "glonass", "galileo", "timing"]
categories = ["science", "command-line-interface", "command-line-utilities"]
edition = "2021"
readme = "README.md"

[dependencies]
serde_json = "1"
clap = { version = "4", features = ["derive", "color"] }
rinex = { path = "../rinex", features = ["serde", "flate2", "with-geo"] }
thiserror = "1"
itertools = "0.10"
# plotters requires "libfreetype6-dev libfontconfig1-dev" on host
plotters  = "0.3"
colorous = "1"
