[package]
name = "rinex-cli"
version = "0.11.1"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "Command line tool parse and analyze RINEX data"
homepage = "https://github.com/georust/rinex"
repository = "https://github.com/georust/rinex"
keywords = ["rinex", "gps", "glonass", "galileo", "timing"]
categories = ["science", "science::geo", "command-line-interface", "command-line-utilities"]
edition = "2021"
readme = "README.md"
rust-version = "1.64"

[dependencies]
log = "0.4"
gpx = "0.10"
kml = "0.8"
statrs = "0.16"
walkdir = "2.4.0"
geo-types = "0.7.11"
env_logger = "0.11"
rand = "0.8.4"
serde_json = "1"
lazy_static = "1.4"
thiserror = "1"
itertools = "0.13"
map_3d = "0.1.5"
# ndarray = "0.15"
colorous = "1.0"
horrorshow = "0.8"
clap = { version = "4.4.13", features = ["derive", "color"] }
hifitime = { version = "3.9.0", features = ["serde", "std"] }
gnss-rs = { version = "2.1.3" , features = ["serde"] }
rinex = { path = "../rinex", version = "=0.16.1", features = ["full"] }
plotly = { git = "https://github.com/plotly/plotly.rs", branch = "main" }
rinex-qc = { path = "../rinex-qc", version = "=0.1.14", features = ["serde"] } 
sp3 = { path = "../sp3", version = "=1.0.8",  features = ["serde", "flate2"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }


# solver
gnss-rtk = { version = "0.4.5", features = ["serde"] }
# gnss-rtk = { path = "../../rtk-rs/gnss-rtk", features = ["serde"] }
# gnss-rtk = { git = "https://github.com/rtk-rs/gnss-rtk", branch = "main", features = ["serde"] }

# cggtts
cggtts = { version = "4.1.4", features = ["serde", "scheduler"] }
# cggtts = { path = "../../cggtts/cggtts", features = ["serde", "scheduler"] }
