[package]
name = "rinex"
version = "0.3.3"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "Package to parse and analyze RINEX data"
homepage = "https://github.com/gwbres/rinex"
keywords = ["rinex", "timing", "gps", "glonass", "galileo"]
categories = ["science", "parsing"]
edition = "2018"
readme = "README.md"

[build-dependencies]
serde_json = "1.0"

[dependencies]
chrono = "0.4"
serde = "1.0.137"
serde_derive = "1"
thiserror = "1"
scan_fmt = "0.1"
lazy_static = "1"
rust-3d = "0.34.0"
strum = "0.23.0"
strum_macros = "0.23.0"
physical_constants = "0.4.1"
num-integer = "0.1.44"
itertools = "0.10.3"
