[package]
name = "rinex"
version = "0.6.3"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "Package to parse and analyze RINEX data"
homepage = "https://github.com/gwbres/rinex"
keywords = ["rinex", "timing", "gps", "glonass", "galileo"]
categories = ["science", "parsing"]
edition = "2018"
readme = "README.md"
rust-version = "1.61"
[features]
# no features by default
default = []
with-geo = ["geo", "wkt"]

[build-dependencies]
serde_json = { version = "1.0", features = ["preserve_order"] }

[dependencies]
time = "0.1.44"
chrono = "0.4"
thiserror = "1"
bitflags = "1.2.1"
lazy_static = "1"
rust-3d = "0.34.0"
strum = "0.18.0"
strum_macros = "0.18.0"
num-integer = "0.1.44"
itertools = "0.10.3"
geo = { version = "0.23.0", optional = true }
wkt = { version = "0.10.0", default-features = false, optional = true }
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }
flate2 = { version = "1.0.24", optional = true, default-features = false, features = ["zlib"] }
