[package]
name = "rinex"
version = "0.8.1"
license = "MIT OR Apache-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "Package to parse and analyze RINEX data"
homepage = "https://github.com/gwbres/rinex"
keywords = ["rinex", "timing", "gps", "glonass", "galileo"]
categories = ["science", "parsing"]
edition = "2021"
readme = "README.md"
rust-version = "1.61"

[features]
default = [] # no features by default
sbas = ["geo", "wkt"]

[build-dependencies]
serde_json = { version = "1.0", features = ["preserve_order"] }

[dependencies]
num = "0.4"
num-derive = "0.3"
num-traits = "0.2.15"
regex = "1"
thiserror = "1"
bitflags = "1.3"
lazy_static = "1.4"
map_3d = "0.1.5"
strum = "0.24"
strum_macros = "0.24"
num-integer = "0.1.44"
itertools = "0.10.3"
geo = { version = "0.23.0", optional = true }
wkt = { version = "0.10.0", default-features = false, optional = true }
horrorshow = { version = "0.8" }
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }
flate2 = { version = "1.0.24", optional = true, default-features = false, features = ["zlib"] }
hifitime = { git = "https://github.com/nyx-space/hifitime", features = ["serde", "std"] }

[dev-dependencies]
criterion = "0.4"
serde_json = "1"

[[bench]]
name = "benchmark"
harness = false
