name: Benchmarks

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  benchmark:
    name: Benchmarking
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: BINEX Benchmark
            folder: "binex"
          - name: RINEX Benchmark
            folder: "rinex"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: ${{ matrix.name }}
        run: cargo bench -p ${{ matrix.folder }} > benchmark.txt
      
      - name: Parse and publish summary
        run: python tools/parse_crit_benchmark.py < benchmark.txt >> $GITHUB_STEP_SUMMARY
