name: Daily

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # midnight, every day

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: Default
            opts: -r
          - name: Observations
            opts: --features "obs"
          - name: Navigation
            opts: --features "nav"
          - name: Qc
            opts: --features "qc"
          - name: Meteo
            opts: --features "meteo"
          - name: Clock
            opts: --features "clock"
          - name: ANTEX
            opts: --features "antex"
          - name: DORIS
            opts: --features "doris"
          - name: Processing
            opts: --features "processing"
          - name: Full
            opts: --features "full"
          - name: All-features
            opts: --all-features

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: stable
        override: true
    - name: Install Dependencies
      run: |
        sudo apt-get update

    - name: ${{ matrix.name }} 
      run: |
        cargo clean && cargo update && cargo build ${{ matrix.opts }}
   
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: stable
        override: true
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libudev-dev
    - uses: actions-rs/cargo@v1
      name: Test (all features)
      with:
        command: test
        args: --all-features
    
  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      name: Install nightly
      with:
        toolchain: nightly
        override: true
    - name: Install Dependencies
      run: |
        sudo apt-get update
    - name: Documentation
      run: |
        ./tools/builddoc.sh
