name: release
on:
  release:
    types: [created]
  pull_request:

jobs:
  release-linux:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@master
      - name: Release CLI
        uses: rust-build/rust-build.action@v1.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: x86_64-unknown-linux-musl
          SRC_DIR: "rinex-cli"
          PRE_BUILD: ".github/workflows/pre-release.sh"
          EXTRA_FILES: "rinex-cli/README.md LICENSE-APACHE LICENSE-MIT"
          TOOLCHAIN_VERSION: stable
          ARCHIVE_TYPES: tar.gz
          ARCHIVE_NAME: rinex-cli-x86_64-unknown-linux-musl.tar.gz
  release-mac:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@master
      - name: Release CLI
        uses: rust-build/rust-build.action@v1.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: x86_64-apple-darwin
          SRC_DIR: "rinex-cli"
          PRE_BUILD: ".github/workflows/pre-release.sh"
          EXTRA_FILES: "rinex-cli/README.md LICENSE-APACHE LICENSE-MIT"
          TOOLCHAIN_VERSION: stable
          ARCHIVE_TYPES: zip
          ARCHIVE_NAME: rinex-cli-x86_64-apple-darwin.zip
  release-windows:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@master
      - name: Release CLI
        uses: rust-build/rust-build.action@v1.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: x86_64-pc-windows-gnu
          SRC_DIR: "rinex-cli"
          PRE_BUILD: ".github/workflows/pre-release.sh"
          EXTRA_FILES: "rinex-cli/README.md LICENSE-APACHE LICENSE-MIT"
          TOOLCHAIN_VERSION: stable
          ARCHIVE_TYPES: zip
          ARCHIVE_NAME: rinex-cli-x86_64-pc-windows-gnu.zip
