name: release
on:
  release:
    types: [created]
  pull_request:

env:
  PKG_CONFIG_PATH: "/usr/lib/pkgconfig"

env:
  PKG_CONFIG_PATH: "/usr/lib/pkgconfig"

jobs:
  release:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        target: [x86_64-unknown-linux-musl, x86_64-apple-darwin, x86_64-pc-windows-gnu]
    steps:
      - uses: actions/checkout@master
      - name: Release ${{ matrix.target }}
        uses: rust-build/rust-build.action@v1.4.2
        env:
          GITHUB_TOKEN: ${{ matrix.target }}
        with:
          SRC_DIR: "rinex-cli"
          RUSTTARGET: ${{ matrix.target }}
          EXTRA_FILES: "rinex-cli/README.md LICENSE-APACHE LICENSE-MIT"
          TOOLCHAIN_VERSION: stable
          ARCHIVE_TYPES: zip
          ARCHIVE_NAME: rinex-cli-${{ matrix.target }}.zip
