name: rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        sudo apt-get update && sudo apt-get install libudev-dev libfontconfig1-dev
        cargo build --all-features --verbose
    - name: Tests
      run: cargo test
    - name: Benchmarking
      run: cargo bench --all-features
