name: rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libudev-dev libfontconfig1-dev
        cargo install cargo-tarpaulin
    - name: Build
      run: cargo build
    - name: Test
      run: cargo test -- --nocapture 
    - name: Build (all features)
      run: cargo build --all-features
    - name: Test (all features)
      run: cargo test --all-features -- --nocapture 
    - name: Benchmark (all features)
      run: cargo bench --all-features
    - name: Coverage (all features)
      run: cargo tarpaulin --all-features -t 500 
