name: rust

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:

  lint:
    name: Linter 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      name: Install Rust 
      with:
        toolchain: stable
        override: true
        components: rustfmt, clippy 
    - uses: actions-rs/cargo@v1
      name: Linter 
      with:
        command: fmt
        args: --all -- --check
    - name: Audit
      continue-on-error: true
      run: |
        cargo install cargo-audit
        cargo audit

  tests:
    name: Tests 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: stable
        override: true
    - name: UBX2RNX dependencies 
      run: |
        sudo apt-get update
        sudo apt-get install -y libudev-dev
    - uses: actions-rs/cargo@v1
      name: Test
      with:
        command: test
        args: --verbose
    - uses: actions-rs/cargo@v1
      name: Test (all features)
      with:
        command: test
        args: --verbose --all-features
  
  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/cargo@v1
    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: stable
        override: true
    - name: RINEXCLI 
      run: cargo build -p rinex-cli --all-features --release --verbose
    - name: RNX2CGGTS
      run: cargo build -p rnx2cggtts --all-features --release --verbose
    - name: RNX2CRNX
      run: cargo build -p rnx2crx --all-features --release --verbose
    - name: CRX2RNX
      run: cargo build -p crx2rnx --all-features --release --verbose
  
  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/cargo@v1
    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: stable
        override: true
    - name: RINEXCLI 
      run: cargo build -p rinex-cli --all-features --release --verbose
    - name: RNX2CGGTS
      run: cargo build -p rnx2cggtts --all-features --release --verbose
    - name: RNX2CRNX
      run: cargo build -p rnx2crx --all-features --release --verbose
    - name: CRX2RNX
      run: cargo build -p crx2rnx --all-features --release --verbose
